* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.manage-spots {
  display: flex;
  flex-direction: column;
  
}
.manage-spots-preview-image {
  max-width: 450px;
  width: 100%;
  height: 325px;
  border: 1px solid gray;
  box-shadow: 1px 1px 8px 1px black;
  margin-bottom: 10px;
  cursor: pointer;
  border-radius: 5%;
}

.manage-spots-page {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.manage-spot-price-container {
  transform: translateX(20px);
}

.manage-single-spot {
  display: flex;
  flex-direction: column;
  flex-basis: 23.7%;
}

.manage-spot-info-container {
  display: flex;
  width: 450px;
  justify-content: space-between;
}

.manage-spot-info {
  transform: translateX(10px);
}

.manage-spot-avg-rating {
  display: flex;
  align-items: center;
  transform: translateX(-10px);
}

.spot-update-delete-button-container {
  display: flex;
  flex: row;
  column-gap: 10px;
  padding-top: 10px;
}

.dim-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100; 
  display: none;
}

.dim-overlay.visible {
  display: block;
}
