* {
  background-color: #f1efe7;
}

.landing-page-image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.landing-page-button {
  padding: 17px 40px;
  border-radius: 50px;
  cursor: pointer;
  border: 0;
  background-color: white;
  box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-size: 15px;
  transition: all 0.5s ease;
}

.landing-page-button:hover {
  letter-spacing: 3px;
  background-color: hsl(322, 80%, 48%);
  color: hsl(0, 0%, 100%);
  box-shadow: rgb(220, 24, 148) 0px 7px 29px 0px;
}

.landing-page-button:active {
  letter-spacing: 3px;
  background-color: hsl(322, 80%, 48%);
  color: hsl(0, 0%, 100%);
  box-shadow: rgb(93 24 220) 0px 0px 0px 0px;
  transform: translateY(10px);
  transition: 100ms;
}
