.form {
  display: flex;
  flex-direction: column;
}

input {
  max-width: min-content;
}

label,
input {
  padding-bottom: 2px;
  margin-bottom: 8px;
}

.log-in-button {
  max-width: fit-content;
  margin-top: 10px;
}
