* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;
}

.create-review-container {
  position: fixed;
  top: 25%;
  left: 40%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.create-review-main-container {
  background-color: #eddcd9;
}

.create-review-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #eddcd9;
  height: auto;
  width: auto;
  border: 2px solid #264143;
  box-shadow: 4px 3px 0px 1px #e99f4c;
  padding: 20px 20px;
}

.create-review-title {
  color: #264143;
  font-weight: 900;
  font-size: 1.5em;
  margin-top: 20px;
  background-color: #eddcd9;
}

.create-review-form-style {
  outline: none;
  border: 2px solid #264143;
  width: 290px;
  padding: 12px 10px;
  border-radius: 4px;
  font-size: 15px;
  transition: border-color 0.3s cubic-bezier(0.25, 0.01, 0.25, 1) 0s,
    color 0.3s cubic-bezier(0.25, 0.01, 0.25, 1) 0s, background 0.2s cubic-bezier(0.25, 0.01, 0.25, 1) 0s;
}

.create-review-form-style:focus,
.create-review-form-style:hover,
.create-review-button {
  outline: none;
  border-color: #de5499;
}

.create-review-form-style:focus {
  transform: translateY(4px);
  box-shadow: 1px 2px 0px 0px #de5499;
}

.create-review-button,
.create-review-cancel-button {
  appearance: none;
  background-color: transparent;
  border: 0.125em solid #1a1a1a;
  border-radius: 0.9375em;
  box-sizing: border-box;
  color: #3b3b3b;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert, -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 3.75em;
  min-width: 0;
  outline: none;
  padding: 1em 2.3em;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform;
}

.create-review-cancel-button-container {
  display: flex;
  justify-content: center;
  background-color: #eddcd9;
}
.create-review-cancel-button:hover {
  color: #fff;
  background-color: #e99f4c;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}
.create-review-button:hover {
  color: #fff;
  background-color: #de5499;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.create-review-button-container {
  padding: 20px 30px;
  background-color: #eddcd9;
}

.create-review-button:disabled {
  transform: translateY(0px);
  color: black;
  background-color: #eddcd9;
  box-shadow: none;
}

.star-rating-container {
  background-color: #eddcd9;
  display: flex;
}

.create-review-stars-text-container {
  background-color: #eddcd9;
}

.create-review-stars-text {
  background-color: #eddcd9;
}

.rating {
  display: inline-block;
}

.rating-container {
  background-color: #eddcd9;
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;
}

.create-review-star {
  background-color: #eddcd9;
}

.rating input {
  display: none;
}

.rating label {
  float: right;
  cursor: pointer;
  color: #fff;
  transition: color 0.3s;
}

.rating label:before {
  content: '\2605';
  font-size: 30px;
}

.rating input:checked ~ label,
.rating label:hover,
.rating label:hover ~ label {
  color: #de5499;
  transition: color 0.3s;
}
